body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: block;
  margin: auto;
  max-width: 700px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 6px;
  width: 200px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}

.modal h2 {
  text-align: center;
  margin: 0 0 10px;
}

.modal form input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.modal form button {
  width: 100%;
  height: 30px;
}

.modal button.close {
  position: absolute;
  top: 0;
  right: 0;
  background: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

button.open {
  width: 200px;
  height: 50px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  margin: 0 auto 50px;
  background: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

button.open:hover {
  box-shadow: 0 0 20px 0 #000000;
}

table {
  width: 100%;
  border: 1px solid #000000;
  border-spacing: 10px;
}

table thead tr td {
  border-bottom: 1px solid #000000;
  padding: 10px 0;
  font-weight: 700;
}

table tbody tr td {
  border-bottom: 1px solid #aaaaaa;
}

table tbody tr:nth-last-child(1) td {
  border-bottom: 0;
}